.container {
    outline: 1px dashed red;
    width: 50%;
}

.clear {
    clear: both;
}

.box{
    border: 1px solid orange;
    box-sizing: border-box;
    padding: 2%;
    width: 50%;
    float: left;
}

.floatedBox{
    border: 1px solid green;
    box-sizing: border-box;
    padding: 2%;
    width: 50%;
    float: right;
}